.guideme:not(.guideme-show) .guideme-overlay,
.guideme:not(.guideme-show) .guideme-dialog {
    display: none;
}

.guideme .guideme-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.7;
    z-index: 999999;
}

.guideme .guideme-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 150px;
    background-color: #fafafa;
    border: solid 1px #dddddd;
    border-radius: 4px;
    box-shadow: 0 0 0 #aaaaaa;
    z-index: 9999999!important;
}

.guideme .guideme-dialog[data-guideme-side="center"] {
    left: 40%;
    top: 40%;
}

.guideme .guideme-dialog:before {
	position: absolute;
	content: '';
	border: 7px solid white;
}

.guideme .guideme-dialog[data-guideme-side="center"]:before {
    display: none;
}

.guideme .guideme-dialog[data-guideme-side="top left"]:before {
	top: -14px;
	left: 5px;
    border-bottom-color: white;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;	
}

.guideme .guideme-dialog>.guideme-body {
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 20px;
}

.guideme .guideme-dialog>.guideme-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding: 4px;
    text-align: center;
    border-top: solid 1px #ddd;
}

.guideme .guideme-dialog>.guideme-footer>.guideme-button {
    background-color: #efefef;
    color: #222;
    border-radius: 0px;
    border: none;
    margin: 0 .2em;
    padding: .3em .7em;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.guideme .guideme-step-target {
    position: relative;
    box-shadow: 0px 0px 5px 3px rgb(62, 59, 59);
    z-index: 9999999!important;
}